In [79]:
# Importamos los paquetes necesarios
import pandas as pd
import os

# Cargamos las 2 eph
df_1= pd.read_stata("usu_individual_T105.dta")
df_2 = pd.read_excel("usu_individual_T125.xlsx")

# Reemplazamos variables categroricas en texto por numero
df_1["region"] = df_1["region"].replace({"Gran Buenos Aires":1})
df_1["ch04"] = df_1["ch04"].replace({"Varón":1,"Mujer":2})


#En el segundo df tenemos los nombres en mayuscula, por lo cual primero renombramos las columnas de interes a minuscula  
df_2.columns = df_2.columns.str.lower()
df_2 = df_2.rename(columns = {"codusu":"CODUSU"}) 

df_2["region"] = df_2["region"].replace({"Gran Buenos Aires":1})
df_2["ch04"] = df_2["ch04"].replace({"Varón":1,"Mujer":2})

# Fitramos unicamente los datos para la región seleccionada 

df_1 = df_1[df_1["region"] == 1]
df_2 = df_2[df_2["region"] == 1]

# Seleccionamos las 15 variables de interes
variables_de_interes = ['region','ano4','ch04','ch06','ch07','ch08','nivel_ed','estado','cat_inac','pp10a','pp03j','pp04a','p21','p47t','ipcf','ipcf']
df_1 = df_1[variables_de_interes]
df_2 = df_2[variables_de_interes]


# Observamos el tipo de dato almacenado por variable en cada df, para ello armamos un cuadro comparativo
    # Tipos de datos por df
tipos_df1 = df_1.dtypes.astype(str) 
tipos_df2 = df_2.dtypes.astype(str)

    # Creamos el df comparativo
comparativo_datos = pd.DataFrame({ 
    "df_1": tipos_df1,
    "df_2": tipos_df2
})
    # Usamos las variables como indices de las filas para leer mas facil
comparativo_datos = comparativo_datos.set_index(pd.Index(variables_de_interes))
print(comparativo_datos)

# Compatibilizamos los tipos de datos en ambas variables 
    # region: pasamos los datos de df_1 a int64
df_1['region'] = df_1['region'].astype(str).astype(int)
    # ano4: pasamos los datos de df_1 a int64
df_1['ano4'] = df_1['ano4'].astype(int)
    # ch04: pasamos los datos de df_1 a int64
df_1['ch04'] = df_1['ch04'].astype(int)


### ACA HAY QUE SEGUIR CORRIEGIENDO LOS TIPOS DE DATOS POR COLUMNA
# LOS QUE SON CATEGORIAS HAY QUE PASARLOS PRIMERO A TEXTO Y DESPUES A INT, HAY QE VER DE GUARDAR COMO MACHET QUE REPRESENTA CADA VALOR
# PODEMOS VER LOS VALORES UNICOS QUE HAY EN CADA COLUMNA PARA HACERNOS UNA IDEA ASI:
    #ch04_valores_unicos = df_1['ch04'].unique()
    #print(ch04_valores_unicos)


# Corroboramos que ahora todos los tipos de datos sean iguales 

tipos_df1 = df_1.dtypes.astype(str) 
tipos_df2 = df_2.dtypes.astype(str)

    # Creamos el df comparativo
comparativo_datos = pd.DataFrame({ 
    "df_1": tipos_df1,
    "df_2": tipos_df2
})
    # Usamos las variables como indices de las filas para leer mas facil
comparativo_datos = comparativo_datos.set_index(pd.Index(variables_de_interes))
print("Vemos los datos compatibilizados")
print(comparativo_datos)


# Unimos los 2 df, de manera vertical 
#df_comp = pd.concat([df_1, df_2])
# Corroboramos que se hayan unido correctamente ambas bases
#print(df_1.shape)
#print(df_2.shape)
#print(df_comp.shape)

              df_1     df_2
region    category    int64
ano4       float64    int64
ch04      category    int64
ch06      category    int64
ch07      category    int64
ch08      category  float64
nivel_ed  category    int64
estado    category    int64
cat_inac  category    int64
pp10a     category  float64
pp03j     category  float64
pp04a     category  float64
p21        float64    int64
p47t       float64  float64
ipcf       float64  float64
ipcf       float64  float64
              df_1     df_2
region       int64    int64
ano4         int64    int64
ch04         int64    int64
ch06      category    int64
ch07      category    int64
ch08      category  float64
nivel_ed  category    int64
estado    category    int64
cat_inac  category    int64
pp10a     category  float64
pp03j     category  float64
pp04a     category  float64
p21        float64    int64
p47t       float64  float64
ipcf       float64  float64
ipcf       float64  float64
              df_1     df_2
region       int64    int64
ano4         int64    int64
ch04         int64    int64
ch06      category    int64
ch07      category    int64
ch08      category  float64
nivel_ed  category    int64
estado    category    int64
cat_inac  category    int64
pp10a     category  float64
pp03j     category  float64
pp04a     category  float64
p21        float64    int64
p47t       float64  float64
ipcf       float64  float64
ipcf       float64  float64

C:\Users\franc\AppData\Local\Temp\ipykernel_7880\2392191834.py:10: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_1["region"] = df_1["region"].replace({"Gran Buenos Aires":1})
C:\Users\franc\AppData\Local\Temp\ipykernel_7880\2392191834.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_1["ch04"] = df_1["ch04"].replace({"Varón":1,"Mujer":2})
C:\Users\franc\AppData\Local\Temp\ipykernel_7880\2392191834.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df_1["ch04"] = df_1["ch04"].replace({"Varón":1,"Mujer":2})